@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #111;
  background-color: #fafafa;
}

button {
  color: #111;
}

@media not screen and (min-width: 768px) {
  .hide-on-sp {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hide-on-pc {
    display: none;
  }
}

.inline-block {
  display: inline-block;
  font-weight: inherit;
}

.inner {
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .inner {
    padding: 0 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.heading-en {
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.8px;
  margin-left: 3px;
  margin-top: 1px;
}
@media screen and (min-width: 768px) {
  .heading-en {
    font-size: 50px;
    letter-spacing: 5px;
  }
}

.heading-jp {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1.12px;
  margin-top: 13px;
}
@media screen and (min-width: 768px) {
  .heading-jp {
    font-size: 16px;
    letter-spacing: 1.28px;
  }
}

.button {
  font-weight: 700;
  letter-spacing: 0.48px;
  padding: 8px 28px;
  border-radius: 60px;
  border: 2px solid;
  background: #fff;
  min-width: 150px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
}
.button:hover {
  background: #fabe00;
}
.button--type2 {
  color: #fff;
  background: #111;
}
.button--type2:hover {
  color: #111;
  background: #fff;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 15px;
}
@media screen and (min-width: 768px) {
  .header__inner {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-top: 3px;
  }
}
.header__logo a img {
  width: 100px;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__logo a img {
    width: 135px;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}

.header__link {
  font-weight: 700;
  letter-spacing: 0.48px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__link:hover {
  color: #f5810e;
}

.header__open {
  margin-top: 1px;
}
@media screen and (min-width: 768px) {
  .header__open {
    display: none;
  }
}

.drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
  z-index: 100;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  border-radius: 6px;
  background: #111;
  -webkit-transition: top 0.3s linear, -webkit-transform 0.3s linear;
  transition: top 0.3s linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 9px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 18px;
}

.drawer-content {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #f7ba1a;
  z-index: 50;
  padding: 86px 40px 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content__link {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: right;
  font-weight: 700;
  letter-spacing: 0.48px;
}

.drawer-content__button {
  margin-top: 14px;
  text-align: right;
}

.mv {
  border-radius: 20px;
  max-width: calc(100% - 30px);
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8b819), to(#f0d320));
  background: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);
}
@media screen and (min-width: 768px) {
  .mv {
    border-radius: 30px;
    max-width: calc(100% - 60px);
  }
}

.mv__inner {
  padding: 50px 20px 255px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .mv__inner {
    padding: 109px 30px 110px;
    max-width: 1100px;
    margin: 0 auto;
  }
}

.mv__lead1,
.mv__lead2 {
  -webkit-font-feature-settings: "palt" on;
          font-feature-settings: "palt" on;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.2px;
  border-radius: 5px;
  background: #fff;
  padding: 9px 9px 11px 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .mv__lead1,
  .mv__lead2 {
    margin: 0;
    font-size: 38px;
    letter-spacing: 3.8px;
    padding: 12px 15px;
  }
}

.mv__lead2 {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .mv__lead2 {
    margin-top: 14px;
  }
}

.mv__description {
  font-weight: 700;
  letter-spacing: 0.48px;
  text-align: center;
  margin-top: 26px;
}
@media screen and (min-width: 768px) {
  .mv__description {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.54px;
    margin-top: 21px;
  }
}

.mv__button {
  margin-top: 21px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv__button {
    margin-top: 31px;
    text-align: left;
  }
}
.mv__img {
  position: absolute;
  right: 0;
  bottom: -108px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv__img {
    text-align: right;
    bottom: -86px;
    right: 31px;
    width: 57.6923076923%;
  }
}
.mv__img img {
  width: 345px;
}
@media screen and (min-width: 768px) {
  .mv__img img {
    width: 600px;
  }
}

.case {
  margin-top: 98px;
  padding: 70px 0 50px;
}
@media screen and (min-width: 768px) {
  .case {
    margin-top: 86px;
  }
}

.case__inner {
  padding: 0 40px;
}
@media screen and (min-width: 768px) {
  .case__inner {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.case__title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.8px;
}
@media screen and (min-width: 768px) {
  .case__title {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.case__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .case__items {
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 40px;
    margin-top: 54px;
  }
}

.case__item {
  text-align: center;
}
.case__item img {
  width: 140px;
}
@media screen and (min-width: 768px) {
  .case__item img {
    width: 200px;
  }
}

.news {
  padding: 71px 0;
}
@media screen and (min-width: 768px) {
  .news {
    padding: 50px 0;
  }
}

.news__card {
  border-radius: 20px;
  -webkit-box-shadow: 0px 9px 30px 0px #f4f4f4;
          box-shadow: 0px 9px 30px 0px #f4f4f4;
  background: #fff;
  padding: 40px 12px;
}
@media screen and (min-width: 768px) {
  .news__card {
    border-radius: 30px;
    padding-bottom: 34px;
    padding-left: 9.2105263158%;
    padding-right: 9.2105263158%;
  }
}

.news__title {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.8px;
  text-align: center;
  margin-left: 2px;
}
@media screen and (min-width: 768px) {
  .news__title {
    font-size: 50px;
    letter-spacing: 5px;
    -moz-text-align-last: left;
         text-align-last: left;
    margin-left: 0;
  }
}

.news__list {
  margin-top: 27px;
}
@media screen and (min-width: 768px) {
  .news__list {
    margin-top: 30px;
  }
}

.news__item:nth-child(n+2) {
  position: relative;
}
.news__item:nth-child(n+2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e3e3e3;
}

.news__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding: 10px 0;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media screen and (min-width: 768px) {
  .news__link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    padding: 12px 0;
  }
}
.news__link:hover {
  background: #fff9e5;
}

.news__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .news__meta {
    width: 247px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    gap: 14px;
  }
}

.news__date {
  color: #333;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .news__date {
    width: 119px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.news__label {
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  padding: 2px 10px;
  border-radius: 2px;
  background: #e4780c;
  min-width: 63px;
  text-align: center;
}
.news__label.news__label--is-news {
  background: #e4780c;
}
.news__label.news__label--is-column {
  background: #ecb815;
}
.news__label.news__label--is-event {
  background: #389b47;
}

.news__headline {
  line-height: 1.68;
}

.news__archive {
  text-align: right;
  margin-top: 17px;
}
@media screen and (min-width: 768px) {
  .news__archive {
    margin-top: 15px;
  }
}
.news__archive a {
  font-weight: 700;
  display: inline-block;
  border-bottom: 2px solid currentColor;
  padding-bottom: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.news__archive a:hover {
  color: #fabe00;
}

.about {
  padding: 49px 0 60px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 50px 0 100px;
  }
}

.about__title {
  text-align: center;
}
.about__title img {
  width: 180px;
}
@media screen and (min-width: 768px) {
  .about__title img {
    width: 230px;
  }
}

.about__content {
  margin-top: 150px;
  padding: 288px 0 105px;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__content {
    margin-top: 176px;
    padding: 284px 0 100px;
  }
}
.about__content::before {
  content: "";
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8b819), to(#f0d320));
  background: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .about__content::before {
    width: 800px;
    height: 800px;
  }
}

.about__img {
  position: absolute;
  text-align: center;
  top: -110px;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__img {
    top: -126px;
  }
}
.about__img img {
  width: 320px;
}
@media screen and (min-width: 768px) {
  .about__img img {
    width: 330px;
  }
}

.about__text {
  font-weight: 700;
  line-height: 2.31;
}

.about__pop {
  margin-top: 41px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.28px;
}
@media screen and (min-width: 768px) {
  .about__pop {
    margin-top: 42px;
  }
}

.about__button {
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .about__button {
    margin-top: 15px;
  }
}
.movie {
  padding: 60px 0;
  background-image: url("../img/section-bg.jpg");
  background-repeat: repeat;
  background-position: top left;
  background-size: 529px auto;
}
@media screen and (min-width: 768px) {
  .movie {
    padding: 100px 0;
  }
}

.movie__inner {
  padding: 0 15px;
}

.movie__iframe {
  margin-top: 32px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .movie__iframe {
    margin-top: 56px;
  }
}
.movie__iframe iframe {
  width: 345px;
  max-width: 100%;
  height: auto;
  aspect-ratio: 345/194;
  vertical-align: top;
}
@media screen and (min-width: 768px) {
  .movie__iframe iframe {
    width: 640px;
    aspect-ratio: 640/360;
  }
}

.how-to-use {
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .how-to-use {
    padding: 100px 0;
  }
}

.how-to-use__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 112px;
  margin-top: 104px;
}
@media screen and (min-width: 768px) {
  .how-to-use__boxes {
    margin-top: 89px;
    gap: 75px;
  }
}

.how-to-use__box {
  border-radius: 30px;
  background: #fffbf0;
  padding: 54px 40px 48px;
}
@media screen and (min-width: 768px) {
  .how-to-use__box {
    padding: 44px 10px 56px;
    border-radius: 40px;
  }
}

.how-to-use__box-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .how-to-use__box-title {
    font-size: 22px;
    letter-spacing: 2.2px;
    padding-right: 95px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .is-type2 .how-to-use__box-title {
    padding-right: 0;
    padding-left: 95px;
  }
}
.how-to-use__box-title img {
  width: 85px;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  bottom: calc(100% + 16px);
}
@media screen and (min-width: 768px) {
  .how-to-use__box-title img {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    bottom: 0;
  }
  .is-type2 .how-to-use__box-title img {
    right: auto;
    left: 0;
  }
}

.how-to-use__steps {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .how-to-use__steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 24px;
    max-width: 948px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .how-to-use__step {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.step-box {
  padding-top: 45px;
  position: relative;
}

.step-box__head {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #111;
  background: #f5810e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.is-type2 .step-box__head {
  background: #fabe00;
}

.step-box__head-text {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.3px;
}

.step-box__head-number {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 3.4px;
}

.step-box__body {
  border-radius: 30px;
  border: 3px solid #111;
  background: #fff;
  overflow: hidden;
  padding: 47px 10px 23px;
  text-align: center;
}

.step-box__img img {
  width: 160px;
}
@media screen and (min-width: 768px) {
  .step-box__img img {
    width: 200px;
  }
}

.step-box__text {
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-top: 10px;
}

.merit {
  padding: 61px 0px;
}
@media screen and (min-width: 768px) {
  .merit {
    padding: 100px 0;
  }
}

.merit__boxes {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .merit__boxes {
    margin-top: 60px;
    gap: 40px;
  }
}

.merit-box {
  border-radius: 20px;
  background: #fff;
  padding: 10px 20px 24px;
}
@media screen and (min-width: 768px) {
  .merit-box {
    padding: 20px 18px;
  }
}

@media screen and (min-width: 768px) {
  .merit-box__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-width: 920px;
    margin: 0 auto;
  }
  .is-reverse .merit-box__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.merit-box__img {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .merit-box__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38.0434782609%;
            flex: 0 0 38.0434782609%;
  }
}
.merit-box__img img {
  width: 200px;
}
@media screen and (min-width: 768px) {
  .merit-box__img img {
    width: 350px;
  }
}

.merit-box__body {
  margin-top: 17px;
}
@media screen and (min-width: 768px) {
  .merit-box__body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 1px;
  }
}

.merit-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .merit-box__head {
    gap: 28px;
  }
}

.merit-box__number {
  color: #fabe00;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 600;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .merit-box__number {
    font-size: 110px;
  }
}

.merit-box__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.6px;
}
@media screen and (min-width: 768px) {
  .merit-box__title {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.merit-box__text {
  font-size: 14px;
  line-height: 2;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .merit-box__text {
    font-size: 15px;
    margin-top: 16px;
  }
}

.cta {
  padding-top: 50px;
  padding-bottom: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8bd1e), to(#f0d320));
  background: linear-gradient(180deg, #f8bd1e 0%, #f0d320 100%);
}
@media screen and (min-width: 768px) {
  .cta {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.cta__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.48px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .cta__text {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}

.cta__button {
  text-align: center;
  margin-top: 16px;
}

.compare {
  padding-top: 60px;
  padding-bottom: 60px;
  background: white;
}
@media screen and (min-width: 768px) {
  .compare {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.compare__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .compare__title {
    font-size: 24px;
  }
}

.compare__content {
  margin-top: 42px;
  overflow-x: auto;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .compare__content {
    margin-top: 60px;
    padding-bottom: 0;
  }
}

.compare__table {
  width: 620px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .compare__table {
    width: 1000px;
  }
}
.compare__table th,
.compare__table td {
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  height: 59px;
}
@media screen and (min-width: 768px) {
  .compare__table th,
  .compare__table td {
    height: 100px;
  }
}
.compare__table th:nth-child(1),
.compare__table td:nth-child(1) {
  width: 130px;
}
@media screen and (min-width: 768px) {
  .compare__table th:nth-child(1),
  .compare__table td:nth-child(1) {
    width: auto;
  }
}
.compare__table th:nth-child(2),
.compare__table td:nth-child(2) {
  width: 90px;
  background: #fff9e5;
  font-size: 16px;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .compare__table th:nth-child(2),
  .compare__table td:nth-child(2) {
    width: auto;
    font-size: 25px;
    letter-spacing: 0.75px;
  }
}
.compare__table th:nth-child(2) img,
.compare__table td:nth-child(2) img {
  width: 70px;
}
@media screen and (min-width: 768px) {
  .compare__table th:nth-child(2) img,
  .compare__table td:nth-child(2) img {
    width: 123px;
  }
}
.compare__table th {
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .compare__table th {
    font-size: 20px;
    letter-spacing: 0.6px;
  }
}
.compare__table td {
  font-size: 14px;
  letter-spacing: 0.42px;
}
@media screen and (min-width: 768px) {
  .compare__table td {
    font-size: 16px;
    letter-spacing: 0.48px;
  }
}
.compare__table thead th {
  letter-spacing: 1.6px;
}
@media screen and (min-width: 768px) {
  .compare__table thead th {
    letter-spacing: 2px;
  }
}
.compare__table tbody tr {
  border-top: 1.5px solid #000;
}
@media screen and (min-width: 768px) {
  .compare__table tbody tr {
    border-top: 3px solid #000;
  }
}

.compare__attention {
  color: #686868;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-top: 11px;
}

/* スクロールバーの全体（トラック部分） */
::-webkit-scrollbar {
  height: 6px; /* 横スクロールバーの高さ */
}

/* スクロールバーの背景（トラック部分） */
::-webkit-scrollbar-track {
  border-radius: 7px;
  background: #d9d9d9;
}

/* スクロールバーのつまみ部分 */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #fabe00;
}

/* スクロールバーのつまみにホバー時の色 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.qa {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .qa {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .qa__inner {
    padding: 0 30px;
    max-width: 860px;
    margin: 0 auto;
  }
}

.qa__boxes {
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
}
@media screen and (min-width: 768px) {
  .qa__boxes {
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
  }
}

.qa__box {
  border-radius: 10px;
  border: 3px solid #111;
  background: #fff;
}

.qa-box.is-open .qa-box__head::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.qa-box__head {
  padding: 29px 37px 17px 12px;
  position: relative;
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .qa-box__head {
    padding: 29px 77px 17px 17px;
  }
}
.qa-box__head::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 13px;
  width: 12px;
  height: 9px;
  background: url("../img/qa_arrow.svg") no-repeat center center/contain;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 2px;
}
@media screen and (min-width: 768px) {
  .qa-box__head::after {
    right: 17px;
  }
}

.qa-box__head-icon {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  border-radius: 22px;
  border: 3px solid #111;
  background: #f5810e;
  display: grid;
  place-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  top: -24px;
  left: 12px;
}
@media screen and (min-width: 768px) {
  .qa-box__head-icon {
    left: 18px;
  }
}

.qa-box__head-text {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  line-break: strict;
}
@media screen and (min-width: 768px) {
  .qa-box__head-text {
    font-size: 16px;
    line-height: 27px; /* 168.75% */
    letter-spacing: 1.28px;
  }
}

.qa-box__body {
  display: none;
  padding: 13px 14px 17px 12px;
}
@media screen and (min-width: 768px) {
  .qa-box__body {
    padding: 2px 34px 18px 18px;
  }
}

.qa-box__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
@media screen and (min-width: 768px) {
  .qa-box__a {
    gap: 10px;
  }
}

.qa-box__a-icon {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  border-radius: 22px;
  border: 3px solid #111;
  background: #fabe00;
  display: grid;
  place-items: center;
  width: 44px;
  height: 44px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.qa-box__a-text {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .qa-box__a-text {
    font-size: 16px;
    line-height: 27px; /* 168.75% */
    letter-spacing: 1.28px;
  }
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../img/section-bg.jpg");
  background-repeat: repeat;
  background-position: top left;
  background-size: 529px auto;
}
@media screen and (min-width: 768px) {
  .contact {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.contact__box {
  border-radius: 30px;
  background: #fff;
  padding: 60px 20px;
}
@media screen and (min-width: 768px) {
  .contact__box {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.contact__form {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .contact__form {
    margin-top: 50px;
    max-width: 612px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .contact__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
  }
}

.contact__privacy {
  margin-top: 30px;
  text-align: center;
  line-height: 24px;
}

.contact__button {
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact__button {
    margin-top: 38px;
  }
}

.form-field__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .form-field__head {
    width: 180px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.form-field__label {
  font-weight: 700;
  line-height: 24px;
}

.form-field__tag {
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.98px;
  border-radius: 2px;
  background: #ee8013;
  display: inline-block;
  padding: 6px 8px 5px;
}
.form-field__tag.is-option {
  background: #43b549;
}

.form-field__item {
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .form-field__item {
    margin-top: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.form-field__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .form-field__radios {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}

.form-text {
  width: 100%;
  border-radius: 5px;
  border: 3px solid #111;
  padding: 12px 13px 11px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form-text:hover, .form-text:focus {
  border: 3px solid #fabe00;
  outline: none;
}

.form-radio {
  line-height: 24px;
}
.form-radio:hover .form-radio__text::before {
  border: 3px solid #fabe00;
}

.form-radio__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-radio__input:checked + .form-radio__text::after {
  opacity: 1;
}
.form-radio__input:focus + .form-radio__text::before {
  border-color: #fabe00;
}

.form-radio__text {
  padding-left: 28px;
  font-weight: 700;
  position: relative;
}
.form-radio__text::before, .form-radio__text::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}
.form-radio__text::before {
  width: 24px;
  height: 24px;
  border: 3px solid #111;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form-radio__text::after {
  width: 10px;
  height: 10px;
  background: #f5810e;
  left: 7px;
  opacity: 0;
}

.form-select {
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  padding: 15px 46px 14px 16px;
  padding: 12px 43px 11px 13px;
  width: 100%;
  font-weight: 700;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/select_arrow.svg");
  background-repeat: no-repeat;
  background-size: 10px 8px;
  background-position: right 15px center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form-select:hover, .form-select:focus {
  border: 3px solid #fabe00;
  outline: none;
}

.form-textarea {
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  width: 100%;
  height: 180px;
  padding: 13px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form-textarea:hover, .form-textarea:focus {
  border: 3px solid #fabe00;
  outline: none;
}

.form-checkbox:hover .form-checkbox__text::before {
  border: 3px solid #fabe00;
}

.form-checkbox__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-checkbox__input:checked + .form-checkbox__text::after {
  opacity: 1;
}
.form-checkbox__input:focus + .form-checkbox__text::before {
  border: 3px solid #fabe00;
}

.form-checkbox__text {
  position: relative;
  padding-left: 31px;
  font-size: 14px;
  font-weight: 700;
}
.form-checkbox__text::before, .form-checkbox__text::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form-checkbox__text::before {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  border: 1px solid #111;
  left: 1px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.form-checkbox__text::after {
  width: 23px;
  height: 17.53px;
  background: url("../img/checkbox-icon.svg") no-repeat center center/contain;
  left: 0;
  margin-top: -1.2px;
  opacity: 0;
}
.form-checkbox__text a {
  font-weight: inherit;
  text-decoration-line: underline;
  text-underline-position: from-font;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.form-checkbox__text a:hover {
  color: #f5810e;
}

.footer {
  background: #111;
  padding-top: 16px;
  padding-bottom: 18px;
}

.footer__inner {
  text-align: center;
  line-height: 12px;
}

.footer__copyright {
  color: #f5f5f5;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.96px;
}

.pagetop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: min(13.3333333333%, 50px);
}
@media screen and (min-width: 768px) {
  .pagetop {
    bottom: 30px;
    right: 16px;
    width: 76px;
  }
}