@use "sass:map";

$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;

$font-size-base: 16px;
$line-height-base: 1.7;

$color-base: #111;
$background-base: #fafafa;
$color-key1: #f5810e;
$color-key2: #fabe00;
$color-gradation: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);

$width-inner: 1140px;

$breakpoints: (
  sp: "not screen and (min-width: 768px)",
  pc: "screen and (min-width: 768px)",
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  font-family: $font-family-ja;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
  background-color: $background-base;
}

// header
.header {
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 15px;

  @include mq(pc) {
    max-width: calc($width-inner + 15px * 2);
    margin: 0 auto;
    padding-bottom: 21px;
  }
}

.header__logo {
  @include mq(pc) {
    margin-top: 3px;
  }

  a {
    img {
      width: 100px;
      display: block;

      @include mq(pc) {
        width: 135px;
      }
    }
  }
}

.header__nav {
  display: none;

  @include mq(pc) {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.header__link {
  font-weight: 700;
  letter-spacing: 0.48px;
}

.header__button {
  font-weight: 700;
  letter-spacing: 0.48px;
  padding: calc(10px - 2px) calc(30px - 2px);
  border-radius: 60px;
  border: 2px solid #111;
  background: #fff;
}

.header__open {
  margin-top: 1px;

  @include mq(pc) {
    display: none;
  }
}

.drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  border-radius: 6px;
  background: $color-base;

  &:nth-of-type(1) {
  }

  &:nth-of-type(2) {
    top: 9px;
  }

  &:nth-of-type(3) {
    top: 18px;
  }
}

// main visual
.mv {
  border-radius: 20px;
  max-width: calc(100% - 15px * 2);
  margin: 0 auto;
  background: $color-gradation;

  @include mq(pc) {
    border-radius: 30px;
    max-width: calc(100% - 30px * 2);
  }
}

.mv__inner {
  padding: 50px 20px 254px;
  position: relative;

  @include mq(pc) {
    padding: 109px 30px 111px;
    max-width: calc(1040px + 30px * 2);
    margin: 0 auto;
  }
}

.mv__content {
}

.mv__lead {
}

.mv__lead1,
.mv__lead2 {
  font-feature-settings: "palt" on;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.2px;
  border-radius: 5px;
  background: #fff;
  padding: 9px 9px 11px 10px;
  display: block;
  width: fit-content;
  margin: 0 auto;

  @include mq(pc) {
    margin: 0;
    font-size: 38px;
    letter-spacing: 3.8px;
    padding: 12px 15px;
  }
}

.mv__lead2 {
}

.mv__lead2 {
  margin-top: 8px;

  @include mq(pc) {
    margin-top: 14px;
  }
}

.mv__description {
  font-weight: 700;
  letter-spacing: 0.48px;
  text-align: center;
  margin-top: 26px;

  @include mq(pc) {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.54px;
    margin-top: 21px;
  }
}

.mv__button {
  margin-top: 22px;
  text-align: center;

  @include mq(pc) {
    margin-top: 31px;
    text-align: left;
  }

  a {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.48px;
    display: inline-block;
    border-radius: 60px;
    border: 2px solid #fff;
    background: #111;
    padding: calc(10px - 2px) calc(30px - 2px);
  }
}

.mv__img {
  position: absolute;
  right: 0;
  bottom: -108px;
  width: 100%;
  text-align: center;

  @include mq(pc) {
    text-align: right;
    bottom: -86px;
    right: 31px;
    width: calc(600 / 1040 * 100%);
  }

  img {
    width: 345px;

    @include mq(pc) {
      width: 600px;
    }
  }
}

// 導入実績
.case {
  margin-top: 98px;
  padding: 70px 0 50px;

  @include mq(pc) {
    margin-top: 86px;
  }
}

.case__inner {
  padding: 0 40px;

  @include mq(pc) {
    max-width: calc(1440px - 260px * 2 + 40px * 2);
    margin: 0 auto;
  }
}

.case__title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.8px;

  @include mq(pc) {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.case__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;
  margin-top: 30px;

  @include mq(pc) {
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 40px;
    margin-top: 54px;
  }
}

.case__item {
  text-align: center;

  img {
    width: 140px;

    @include mq(pc) {
      width: 200px;
    }
  }
}
